.hidden {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

p a:hover:not(.button), a:focus:not(.button) {
    color: #0e6e90;
    text-decoration: underline;
}

.tags a:hover, a:focus {
    background: #1BB3E9;
    color: #FFFFFF;
}

.pagination a:hover, a:focus {
    background: #1BB3E9;
    color: #FFFFFF;
}

.archives .archive_date a:hover {
    background: #1BB3E9;
    color: #0e6e90;
    text-decoration: underline;
}
